@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte001:'Krona One', sans-serif;
    --fonte002:'Montserrat', sans-serif;

    --cor001: #22d4fd;
    --cor002: #f6f6f6;
    --cor003: #272727;
    --cor004: #000000;
}    

body {  
    background-color: var(--cor004);
    color: var(--cor002);
    box-sizing: border-box; /* Esse atributo mantem todos os itens filhos dentro do item pai*/
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho__menu__item {
    font-family: var(--fonte002);
    font-weight: bold;
    color: var(--cor001);
    text-decoration: none;
    margin: 0px 15px;  
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte001);
    font-size: 2rem;
    text-align: justify;
}

.titulo-destaque {
    color: var(--cor001);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte002);
    font-size: 1.25rem;
    text-align: justify;
    line-height: 1.5em;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte002);
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: var(--fonte002);
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
    width:50%;
    border: 2px solid var(--cor001);
    color: var(--cor002);

    padding: 15px;
    border-radius: 5px;
}

.apresentacao__links__botao:hover {
    background-color: var(--cor003);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {   
    font-family: var(--fonte002);
    text-align: center;
    color: var(--cor004);
    background-color: var(--cor001);
    padding: 15px;
}

@media (max-width: 830px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    
}